#container > div > button{
    font-size: inherit;
}

#marcacoes{
    font-size: 0.5em;
    height: 255px;
    margin-top: 15px;
    border: 1px solid lightgray;
    overflow-y: auto;
    text-align: center;
}
@media (max-width: 500px) {
    h1{
        font-size: 0.9em;
    }
}