:root{
    --bgHover: rgb(255, 216, 216);
    --corLinks: rgb(240, 128, 128);
    --corFundo: rgb(255,255,255);
    --corLetra: rgb(0,0,0)
    /* --corLinks: rgb(243, 254, 255); */
}

::-webkit-scrollbar{
    background-color: var(--corFundo);
}
::-webkit-scrollbar-thumb{
    border-radius: 12px;
    background-color: var(--corLetra);
}

body{
    color: var(--corLetra);
    font-family: monospace;
    font-weight: 100;
    font-size: 2em;
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--corFundo);
}
button{
    cursor: pointer;
    font-family: monospace;
    margin: 5px;
    font-size: 42px;
}
header{
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0px 20px;
    box-sizing: border-box;
    flex-wrap: wrap;
}
header a{
    padding: 30px 50px;
    color: var(--corLinks);
    box-sizing: border-box;
    text-decoration: none;
}
img[alt="menu"]{
    display: none;
    height: 50px;
}
#containerModos{
    display: flex;
    align-items: center;
    width: 100%;
}
.modos{
    outline: 0;
    transition: .3s;
}
.modos:hover,
.modos:focus{
    background-color: var(--bgHover);
    backdrop-filter: brightness(0.95);
}

.paginaAtual{
    border-bottom: 2px solid var(--corLinks);
}
hr{
    margin: 0;
}
main{
    display: flex;
    justify-content: center;
    align-items: center;
}
    #container{
        padding: 50px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 2em;
    }
footer {
    border-top: 1px solid var(--corLetra);
    padding: 12px 0px;
    text-align: center;
    font-size: 0.65em;
}
footer a{color: var(--corLetra); filter: brightness(0.8);}
button{
    color: var(--corLetra);
    background-color: var(--corFundo);
    border: 1px solid var(--corLetra);
    border-radius: 15px;
    padding: 10px;
    transition: .1s;
}
button:hover{
    background-color: var(--corLetra);
    color: var(--corFundo);
}
#iconMode{
    width: 40px;
    margin-left: auto;
    margin-right: 50px;
    padding: 5px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
}
    #iconMode:hover{
        border: 2px solid gray;
    }
.iconeEscuro{
    filter: brightness(0) saturate(100%) invert(97%) sepia(88%) saturate(1616%) hue-rotate(180deg) brightness(112%) contrast(103%);
}
@media (max-width: 800px) {
    img[alt="menu"]{
        position: absolute;
        top: 15px;
        left: 15px;
        z-index: 2;
        display: block;
    }
    #iconMode{
        position: absolute;
        top: 15px;
        right: 15px;
        z-index: 2;
        margin: 0;
    }
    #containerModos{
        display: flex;
        flex-direction: column;
        width: fit-content;
        margin: 0 auto
    }
    .modos{
        position: relative;
        transform: translateY(-500px);
        width: fit-content;
    }
    h1{
        margin: 0;
        font-size: 1.5em;
        word-wrap: break-word;
        word-break: break-all;
    }
    hr{
        display: none;
    }
    header{
        flex-wrap: wrap;
        height: 100px;
    }
    header a{
        text-align: center;
        width: 100%;
        padding: 10px 5px;
    }

    /*  */
    div{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
}
@media (max-width: 500px) {
    h1{
        font-size: 0.8em;
    }
}