button:not(#playButton){
    padding: 5px;
    font-weight: 600;
}
#playButton{
    width: 45%;
    height: 60px;
    font-size: 0.5em;
}
#endButton{
    width: 45%;
    height: 60px;
    font-size: 0.5em;
}
#playButton:hover:disabled{
    cursor: not-allowed;
    filter: brightness(0.75);
}